<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging"  targetFramework="net452" />
  <package id="Common.Logging.Core" targetFramework="net452" />
  <package id="CouchbaseNetClient" targetFramework="net452" />
  <package id="Newtonsoft.Json"  targetFramework="net452" />
</packages>
